footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: white;
  background-color: black;
}
footer a {
  color: rgb(241, 94, 94);
}
footer a:hover {
  color: rgb(86, 186, 86);
}
@media only screen and (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: start;
  }
}
