select {
    width: 140px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  label {
    position: relative;
  }
  label:after {
    content: '<>';
    font: 11px 'Consolas', monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 10px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
  }
  label:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
  }
  .search {
    padding: 20px;
  }
  .search_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    margin: 20px;
  }
  h1 {
    font-size: 36px;
    color: lightblue;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    width: 120px;
    height: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: rgb(255, 160, 122);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  .box-init .btn {
    width: 89px;
  }
  .button:hover {
    background: rgba(255, 152, 111, 0.825);
  }
  .button:hover p {
    color: white;
  }
  .button:active {
    top: 1px;
    background: rgba(255, 152, 111, 0.555);
  }
  p {
    font-size: 15px;
    line-height: 15px;
    color: black;
  }
  @media only screen and (max-width: 700px) {
    .search_box {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
    h1 {
      font-size: 30px;
    }
    .search {
      padding: 0;
    }
  }
