* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #1c1c1c;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Serif';
  letter-spacing: 1px;
}

main {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1500px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 700px) {
  main {
    padding: 10px 0;
  }
}
